<app-cabecera></app-cabecera>

<app-formulario></app-formulario>



<div class="contenedor limpiarEstilos">
    <div class="ingreso">
        
        <h2 class="ingreso_titulo">Ingresos</h2>
                
        <app-ingresos
        *ngFor="let ingreso of ingresosLista; let i = index"
        [ingreso] = "ingreso"
        [index] = "i"
        >
        
        </app-ingresos>
        
    </div>
    
    
    
    <div class="egreso">
        <h2 class="egreso_titulo">Egresos</h2>
            
            <app-egresos
            *ngFor="let egreso of egresosLista; let i = index"
            [egreso] = "egreso"
            [index] = "i"
            >

            </app-egresos>

    </div>
</div>
