<form>
    <div class="agregar">
        <div class="agregar_contenedor">
            <select class="agregar_tipo" [(ngModel)]="accionSeleccionada" name="select">
                <option value="ing" selected>+</option>
                <option value="egr">-</option>
            </select>
            <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción" [(ngModel)]="descripcion" name="descripcion">
            <input type="number" class="agregar_valor" placeholder="Valor" [(ngModel)]="valor" name="valor">
            <button class="agregar_btn" (click)="total()"><i class="ion-ios-checkmark-outline"></i></button>
        </div>
    </div>
</form>
